body{
    margin:1em auto;
    max-width:40em;
    padding:0.5em;
    font-family: 'Baskerville','Times New Roman','Times',serif;
    font-size: 1.2em;
    line-height:1.6;
    background-color:#fffff2;
}

h1,h2,h3 {
    color:#dc2d17;
}

.generatednafn{
  text-align: center;
  font-size:3em;
}

button {
    background-color:#dc2d17;
    border: none;
    color: #fffff2;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-align: center;
    display: inline-block;
    font-family: 'Spectral', serif;
    font-size: 1em;
    height: 3em;
    width: 10em;
    cursor: pointer;
}

.gridwrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 500px) {
  .gridwrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "footer  footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.main-header {
  grid-area: header;
}
.content {
  grid-area: content;
}
.side {
  grid-area: sidebar;
}
.main-footer {
  grid-area: footer;
}

