:root {
  --brand: #dc2828;
  --offwhite:#fff;
  --background: #fafafa;
  --grey: #e7e7e7;
  --dark: black;
}

html {
	font-size: 62.5%;
  font-family: 'Baskerville','Times New Roman','Times',serif;
}

body{
  font-size: 1.8rem;
  line-height: 1.618;
  background-color: var(--background);
  margin: auto;
}

h1, h2, h3{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  color: var(--dark);
}

h1 {
  font-size: 2.35rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.75rem;
}

button {
  display: inline-block;
  font-family: 'Baskerville','Times New Roman','Times',serif;
  font-size: 2rem;
  height: 5rem;
  width: 20rem;
  cursor: pointer;
}

fieldset {
  border: 0px solid var(--grey);
  line-height: 2;
}

input {
	font-size: 16px;
}


.gridwrapper {
	display: grid;
  grid-gap: 1rem;
	grid-template-areas: "head"
	                     "content"
	                     "footer";
	grid-template-columns: 1fr;
	grid-template-rows:
	          50px
						1fr
						50px;
}

header {
  grid-area: head;
  border-bottom: 2px solid var(--grey);
  top: 0;
  background-color:var(--offwhite);

}

main {
  grid-area: content;
  justify-content: center;
}


footer {
  display:flex;
  justify-content:center;
  grid-area: footer;
	font-size: 1.2rem;
	font-style: italic;
  color: var(--brand);
}


header ul {
  margin:1rem;
  padding: 0;
  list-style: none;
}

header ul li{
  padding:0 2rem 0 2rem;
}

header ul li a {
  color: black;
  text-decoration: none;
}


.form
{
  place-self: center;
  text-align: center;
}

.headernav{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin:0;
  padding:0.5rem;
}


.headertitle{
	font-weight: 600;
	font-size:2.5rem;
	font-style:italic;
	color: var(--brand);
}

.generatednafn{
  max-width: 500px;
  margin:auto;
  margin-bottom: 2rem;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size:6rem;
  background-color: var(--offwhite);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0px 3px rgba(0,0,0,0.23);
  word-break: break-all;
}
