body{
    margin:1em auto;
    max-width:30em;
    font-family: 'Spectral', serif;
    font-size: 1.2em;
    line-height:1.6;
    background-color:#fffff2;
}
h1,h2,h3 {
    line-height:1.2;
    color:#dc2d17;
}

button {
    background-color:#dc2d17;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Spectral', serif;
    font-size: 1em;
    height: 75px;
    width: 200px;
}
