body{
    margin:1em auto;
    max-width:20em;
    padding:0.5em;
    font-family: 'Baskerville','Times New Roman','Times',serif;
    font-size: 1.2em;
    line-height:1.6;
    background-color:#fffff2;
}
h1,h2,h3 {
    line-height:1.2;
    color:#dc2d17;
}

button {
    background-color:#dc2d17;
    border: none;
    color: #fffff2;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Spectral', serif;
    font-size: 1em;
    height: 3em;
    width: 10em;
    cursor: pointer;
}
