body{
    padding:1em;
    margin:0em;
    font-family: 'Baskerville','Times New Roman','Times',serif;
    font-size:1.2em;
    background-color:#fffff2;
}

h1 {
  font-size: 2.2em;
  color: #fffff2;
}
h2 {
  color: #dc2d17;
}

.generatednafn{
  text-align: left;
  font-size: 2em;
}

button {
    background-color:#dc2d17;
    border: none;
    color: #fffff2;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-align: center;
    display: inline-block;
    font-family: 'Baskerville','Times New Roman','Times',serif;
    font-size: 1em;
    height: 3em;
    width: 10em;
    cursor: pointer;
}

.gridwrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 500px) {
  .gridwrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 1fr 30px;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "footer  footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.main-header {
  grid-area: header;
  background-color:#dc2d17;
  display: flex;
  justify-content: center;
	align-items: center;
	margin:-1em;
}


.content {
  grid-area: content;
  padding: 2em;
}
.side {
  grid-area: sidebar;
}
.main-footer {
  grid-area: footer;
}

