body{
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif;
    line-height:1.6
}
h1,h2,h3 {
    line-height:1.2;
    color:#dc2d17;
}
@media print{
    body{
        max-width:none
    }
}

button {
    background-color:#dc2d17;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}